      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Nunito Sans", Arial, sans-serif;
      }
      :root {
        --primary-color: #1b9ce3;
        --secondary-color: #fff;
        --footer-color: #343a40;
        --border-color: linear-gradient(135deg, #794cff8f, #60a5fa8f);
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      input,
      select,
      textarea,
      button,
      a {
        font-family: "Nunito Sans", Arial, sans-serif;
      }
      .top_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 8rem;
      }
      .top_header_email {
        display: flex;
      }
      .top_header_email img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 5px;
      }
      .top_header_email p {
        margin-left: 0.5rem;
      }
      .top_header_phone {
        display: flex;
      }
      .top_header_phone i {
        color: rgb(26, 137, 255);
        font-size: 25px;
        margin-top: 10px;
        margin-left: 15px;
        padding-right: 10px;
      }
      .top_header_phone h4 {
        padding: 0.7rem;
      }
      .top_header_phone p {
        margin-left: 0.5rem;
        font-size: 1rem;
        font-weight: 100;
      }
      .top_header button {
        max-width: 200px;
        padding: 0.8rem;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        font-size: large;
        color: var(--secondary-color);
        border-radius: 2rem;
        transition: 0.4s ease;
      }
      .top_header button:hover {
        background-color: transparent;
        color: var(--primary-color);
        transition: 0.4s ease;
      }
      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 8rem;
        background-color: #0d1128;
        color: white;
      }
      .menue_toggle {
        display: none;
      }
      .nav ul {
        display: flex;
        list-style: none;
      }

      .nav ul li {
        padding-left: 2rem;
        font-size: medium;
      }

      .nav ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
      .nav ul li a.active {
        color: rgb(20, 113, 252);
      }
      .form {
        display: flex;
        align-items: center;
        background-color: transparent;
        border-radius: 1.7rem;
        border: 1px solid rgba(255, 255, 255, 0.164);
        padding: 0.3rem 1.4rem;
      }

      .form input {
        background: transparent;
        border: none;
        color: #fff;
        outline: none;
        font-size: 1rem;
        max-height: 50px;
        padding: 0.5rem 0rem;
        max-width: 160px;
      }
      .form input:active {
        border: none;
      }

      .form input::placeholder {
        color: #aaa;
      }

      .form button {
        background: none;
        border: none;
        color: #aaa;
        font-size: 1rem;
      }
      /* request quote section */
      .request {
        margin-bottom: 40px;
        height: 330px;
        background-image: url(images/cover.jpg);
        background-position: center;
        background-size: cover;
      }
      .request .request_content {
        display: flex;
        background: linear-gradient(to right, #1566adcc 0%, #1b9de3da 100%);
        align-items: center;
        color: var(--secondary-color);
        height: 100%;
        justify-content: center;
        text-align: center;
      }
      .request_content h1 {
        font-weight: bolder;
        font-size: 55px;
      }
      .request_content p {
        font-size: medium;
        font-weight: 300;
      }
      /* Company Info Section */
      .company_info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 50px auto;
        max-width: 1200px;
      }
      .infos {
        flex: 1;
        background-color: #fff;
        text-align: center;
        padding: 30px;
        border-radius: 10px;
      }
      .infos i {
        font-size: 40px;
        color: rgba(164, 160, 160, 0.8);
      }
      .infos h2 {
        margin-top: 20px;
        font-size: 20px;
      }
      .infos p {
        font-size: 14px;
        color: #797878;
        margin-top: 10px;
      }
      .addres_info {
        border-right: 2px solid rgba(65, 64, 64, 0.1);
      }
      .phone_info {
        border-right: 2px solid rgba(65, 64, 64, 0.1);
      }

      /* Contact Text */

      /* Contact Form */
      .contact-text {
        margin-top: 60px;
        font-size: 28px;
        color: #0d274d;
        line-height: 1.7;
        text-align: center;
      }

      .form-container {
        max-width: 800px;
        background: #fcfcfc;
        margin: 40px auto 80px;
        padding: 60px 80px;
        text-align: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
      }
      .form-container input,
      .form-container textarea {
        width: 100%;
        padding: 16px 18px;
        margin-bottom: 20px;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
        font-size: 15px;
        color: #333;
        outline: none;
      }
      .form-container input:focus,
      .form-container textarea:focus {
        border-color: #1e90ff;
      }
      .form-container textarea {
        height: 160px;
        resize: none;
      }
      .form-container button {
        display: block;
        background: #0ea6ef;
        color: white;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        padding: 14px 40px;
        cursor: pointer;
        transition: 0.3s ease;
        margin: 10px auto 0;
      }
      .form-container button:hover {
        background: #0c8cd4;
      }
      /* map section */
      .map_section {
        width: 100vw;
        height: 70vh;
        margin: 50px auto;
      }
      /* footer style */

      .footer {
        background-color: #1a1a1a;
        margin-top: 80px;
        padding: 120px 100px;
        color: var(--secondary-color);
      }

      .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .footer-box {
        width: 22%;
      }

      .footer-box h2 {
        font-size: 20px;
        margin-bottom: 25px;
      }

      .footer-box p {
        font-size: 15px;
        color: #ccc;
        margin-bottom: 15px;
        line-height: 1.6;
      }

      .footer-box i {
        margin-right: 10px;
        color: #fff;
      }

      /* Blog section */
      .blog-item {
        display: flex;
        margin-bottom: 15px;
      }

      .blog-item img {
        width: 80px;
        height: 70px;
        margin-right: 10px;
        border-radius: 3px;
      }

      .blog-text p {
        font-size: 15px;
        margin-bottom: 5px;
        color: #ccc;
      }

      .blog-text span {
        font-size: 13px;
        color: #ffffff;
      }

      /* Links */
      .footer-links {
        list-style: none;
      }

      .footer-links li {
        margin-bottom: 10px;
        color: #ccc;
        cursor: pointer;
      }

      .footer-links li:hover {
        color: #00aaff;
      }

      /* Subscribe Section */
      .subscribe-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
      }

      .subscribe-box input {
        padding: 12px;
        border: none;
        outline: none;
        background-color: #2c2c2c;
        color: #ccc;
        margin-bottom: 10px;
      }

      .subscribe-box button {
        background-color: #00aaff;
        border: none;
        color: #fff;
        padding: 12px;
        cursor: pointer;
        transition: 0.3s;
      }

      .subscribe-box button:hover {
        background-color: #0090dd;
      }

      /* Social icons */
      .connect-title {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .social-icons a {
        color: #fff;
        font-size: 20px;
        margin-right: 15px;
        display: inline-block;
        transition: 0.3s;
      }

      .social-icons a:hover {
        color: #00aaff;
      }

      /* Footer bottom */
      .footer-bottom {
        text-align: center;
        margin-top: 40px;
        font-size: 14px;
        color: #999;
      }

      .footer-bottom i {
        color: #00aaff;
      }

      /* animation */
       .content_request {
        transition: transform 0.5s ease;
      }
      .content_request {
        animation: bounce 0.5s ease-in forwards alternate;
      }
      @keyframes bounce {
        0% {
          transform: translateY(50px);
          opacity: 0.4;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

            /* footer */
      .blog-item img {
        animation: delay 5s ease-in forwards alternate;
      }
      @keyframes delay {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .social-icons {
        transition: transform 0.5s ease;
      }
      .social-icons {
        animation: bounce 0.5s ease-in forwards alternate;
      }
      @keyframes bounce {
        0% {
          transform: translateY(50px);
          opacity: 0.4;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      /* responsive */
      @media (max-width: 1024px) {
      .top_header {
          justify-content: space-between;
          padding: 10px 30px;
        }
        .nav {
          justify-content: space-between;
          padding: 0.3rem 1.5rem;
        }
        .footer-container {
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 40px;
        }

        .footer-box {
          width: 45%;
        }

        .social-icons {
          justify-content: flex-start;
        }
      }
      @media (max-width: 768px) {
      .top_header {
          justify-content: center;
          gap: 15px;
          padding: 0.3rem 1rem;
        }
        .top_header h1 {
          font-size: 1.4rem;
          margin-left: 1.3rem;
        }
        .top_header_email {
          /* background-color: #faebd7; */
          font-size: 0.7rem;
        }
        .top_header_phone {
          /* background-color: antiquewhite; */
          flex-direction: row;
          /* padding:0.1rem; */
        }
        .top_header_phone h4 {
          font-size: 0.7rem;
        }
        .top_header_phone p {
          /* background-color: #faebd7; */
          font-size: 0.7rem;
          width: 150px;
        }
        .top_header button {
          padding: 0.3rem 2rem;
          font-size: 0.7rem;
        }
        .nav {
          justify-content: space-between;
          gap: 20px;
          padding: 0.3rem 2rem;
        }
        .nav ul li a {
          font-size: 0.9rem;
        }
        .form-container {
          padding: 50px 40px;
        }
         .footer-container {
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 40px;
        }

        .footer-box {
          width: 45%;
        }

        .social-icons {
          justify-content: flex-start;
        }
      }
      @media (max-width: 560px) {
        .top_header {
          justify-content: space-between;
          /* gap: 15px; */
          padding: 0.3rem 1rem;
        }
        .top_header_email {
          display: none;
        }
        .top_header_phone {
          display: none;
        }
        .top_header button {
          padding: 0.3rem 1rem;
          font-size: 0.7rem;
        }
        .nav {
          justify-content: space-between;
          /* gap: 20px; */
          padding: 0.3rem 1.2rem;
        }
        .nav ul {
          display: none;
          position: absolute;
          left: 0;
          top: 100px;
          flex-direction: column;
          background-color: #0d1128;
          text-align: left;
          /* width: 100px; */
          z-index: 9;
          /* height: 400px; */
        }
        .nav ul li {
          padding: 1rem;
        }
        .menue_toggle {
          display: block;
        }
        .company_info {
          flex-direction: column;
        }
        .infos {
          margin-bottom: 20px;
          border-right: none;
        }
        .contact-text{
          font-size: 20px;
          margin: 0 20px;
        }
        .form-container {
          padding: 40px 20px;
        }
        .footer {
          padding: 50px 20px;
          text-align: left;
        }

        .footer-container {
          display: flex;
          flex-direction: column;
          gap: 40px;
        }

        .footer-box {
          width: 100%;
        }

        .footer-box h2 {
          font-size: 18px;
          margin-bottom: 15px;
        }

        .footer-box p,
        .footer-links li,
        .blog-text p {
          font-size: 14px;
          line-height: 1.6;
        }

        /* Recent blog vertical layout */
        .blog-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }

        .blog-item img {
          width: 80px;
          height: 70px;
          border-radius: 5px;
        }

        .blog-text {
          flex: 1;
        }

        /* Links spacing */
        .footer-links {
          margin-top: 10px;
        }
        .footer-links li {
          margin-bottom: 8px;
        }

        /* Subscribe section */
        .subscribe-box {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;
          margin-top: 10px;
        }

        .subscribe-box input {
          width: 100%;
          background-color: #2c2c2c;
          color: #ccc;
          border: none;
          padding: 12px;
        }

        .subscribe-box button {
          width: 100%;
          background-color: #00aaff;
          color: #fff;
          border: none;
          padding: 12px;
          border-radius: 5px;
          cursor: pointer;
        }

        /* Connect section */
        .connect-title {
          margin-top: 20px;
        }

        .social-icons {
          display: flex;
          justify-content: flex-start;
          margin-top: 10px;
          gap: 15px;
        }

        .social-icons a {
          font-size: 22px;
          color: #fff;
        }

        /* Bottom text */
        .footer-bottom {
          font-size: 13px;
          text-align: center;
          margin-top: 30px;
          line-height: 1.6;
        }
      }
