      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Nunito Sans", Arial, sans-serif;
      }
      :root {
        --primary-color: #1b9ce3;
        --secondary-color: #fff;
        --footer-color: #343a40;
        --border-color: linear-gradient(135deg, #794cff8f, #60a5fa8f);
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      input,
      select,
      textarea,
      button,
      a {
        font-family: "Nunito Sans", Arial, sans-serif;
      }

        .top_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 8rem;
      }
      .top_header_email {
        display: flex;
      }
      .top_header_email img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 5px;
      }
      .top_header_email h4 p {
        margin-left: 0.5rem;
        font-size: medium;
        font-weight: 100;
      }
      .top_header_phone {
        display: flex;
      }
      .top_header_phone i {
        color: rgb(26, 137, 255);
        font-size: 25px;
        margin-top: 10px;
        margin-left: 15px;
        padding-right: 10px;
        
      }
      .top_header_phone h4 {
        padding: 0.7rem;
      }
      .top_header_phone p {
        margin-left: 0.5rem;
        font-size: 1rem;
        font-weight: 100;
      }
      .top_header button {
        max-width: 200px;
        padding: 0.8rem;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        font-size: large;
        color: var(--secondary-color);
        border-radius: 2rem;
        transition: 0.4s ease;
      }
      .top_header button:hover {
        background-color: transparent;
        color: var(--primary-color);
        transition: 0.4s ease;
      }
      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 80px;
        background-color: #0d1128;
        color: white;
      }

      .nav ul {
        display: flex;
        list-style: none;
      }
      .menue_toggle {
        display: none;
        cursor: pointer;
      } 
      .nav ul li {
        padding-left: 30px;
        font-size: medium;
        /* font-weight: bold; */
      }

      .nav ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
      .nav ul li a.active {
        color: rgb(20, 113, 252);
      }
      form {
        display: flex;
        align-items: center;
        background-color: transparent;
        border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.164);
        padding: 5px 15px;
      }

      form input {
        background: transparent;
        border: none;
        color: #ffffffaf;
        outline: none;
        font-size: 15px;
        height: 40px;
        width: 160px;
      }
      form input:active {
        border: none;
      }

      form input::placeholder {
        color: #aaa;
      }

      form button {
        background: none;
        border: none;
        color: #aaa;
        font-size: 16px;
      }
      form button:hover {
        color: #fff;
      }
      main{
        overflow: hidden;
      }
      /* request quote section */
      .request {
        margin-top: 0;
        height: 330px;
        background-image: url(images/cover.jpg);
        background-position: center;
        background-size: cover;
      }
      .request .request_content {
        display: flex;
        background: linear-gradient(to right, #1566adcc 0%, #1b9de3da 100%);
        align-items: center;
        color: var(--secondary-color);
        height: 100%;
        justify-content: center;
        text-align: center;
      }
      .request_content h1 {
        font-weight: bolder;
        font-size: 55px;
      }
      .request_content p {
        font-size: medium;
        font-weight: 300;
      }
      /* recent project grid */
      .project_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 350px);
        justify-content: center;
        margin-top: 90px;
        overflow: hidden;
        gap: 20px;
      }
      .project {
        background-color: var(--secondary-color);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        transition: 0.5s ease;
        position: relative;
      }
      .project button {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url(https://cdn-icons-png.flaticon.com/128/14441/14441670.png);
        background-position: center;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        transition: 0.5s ease;
        opacity: 0;
        z-index: 9;
        border: none;
        padding: 10px;
        bottom: 0;
        right: 0;
      }
      .project1 {
        background-image: url(images/project_img_1.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project2 {
        background-image: url(images/project_img_2.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project3 {
        background-image: url(images/project_img_3.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project4 {
        background-image: url(images/project_img_4.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project5 {
        background-image: url(images/project_img_5.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project6 {
        background-image: url(images/project_img_6.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project7 {
        background-image: url(images/project_img_7.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project8 {
        background-image: url(images/project_img_8.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project9 {
        background-image: url(images/project_img_9.png);
        background-position: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        background-size: cover;
      }
      .project_content {
        display: flex;
        opacity: 0;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        color: var(--secondary-color);
        background-color: #1b9de3d7;
        height: 100%;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        width: 100%;
      }
      .project_content p{
        margin-bottom: 10px;
      }
      .project:hover .project_content {
        background-color: #1b9de3d7;
        opacity: 1;
        transition: 0.5s ease;
      }
      .project:hover button {
        transition: 0.5s ease;
        opacity: 1;
      }
      /* footer style */

      .footer {
        background-color: #1a1a1a;
        margin-top: 80px;
        padding: 120px 100px;
        color: var(--secondary-color);
      }

      .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .footer-box {
        width: 22%;
      }

      .footer-box h2 {
        font-size: 20px;
        margin-bottom: 25px;
      }

      .footer-box p {
        font-size: 15px;
        color: #ccc;
        margin-bottom: 15px;
        line-height: 1.6;
      }

      .footer-box i {
        margin-right: 10px;
        color: #fff;
      }

      /* Blog section */
      .blog-item {
        display: flex;
        margin-bottom: 15px;
      }

      .blog-item img {
        width: 80px;
        height: 70px;
        margin-right: 10px;
        border-radius: 3px;
      }

      .blog-text p {
        font-size: 15px;
        margin-bottom: 5px;
        color: #ccc;
      }

      .blog-text span {
        font-size: 13px;
        color: #ffffff;
      }

      /* Links */
      .footer-links {
        list-style: none;
      }

      .footer-links li {
        margin-bottom: 10px;
        color: #ccc;
        cursor: pointer;
      }

      .footer-links li:hover {
        color: #00aaff;
      }

      /* Subscribe Section */
      .subscribe-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
      }

      .subscribe-box input {
        padding: 12px;
        border: none;
        outline: none;
        background-color: #2c2c2c;
        color: #ccc;
        margin-bottom: 10px;
      }

      .subscribe-box button {
        background-color: #00aaff;
        border: none;
        color: #fff;
        padding: 12px;
        cursor: pointer;
        transition: 0.3s;
      }

      .subscribe-box button:hover {
        background-color: #0090dd;
      }

      /* Social icons */
      .connect-title {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .social-icons a {
        color: #fff;
        font-size: 20px;
        margin-right: 15px;
        display: inline-block;
        transition: 0.3s;
      }

      .social-icons a:hover {
        color: #00aaff;
      }

      /* Footer bottom */
      .footer-bottom {
        text-align: center;
        margin-top: 40px;
        font-size: 14px;
        color: #999;
      }

      .footer-bottom i {
        color: #00aaff;
      }
      /* animations */
      .content_request {
        transition: transform 0.5s ease;
      }
      .content_request {
        animation: bounce 0.5s ease-in forwards alternate;
      }
      @keyframes bounce {
        0% {
          transform: translateY(50px);
          opacity: 0.4;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      /* section 2 */
      .project {
        animation: fade 0.5s ease-in forwards;
      }
      .project:nth-child(1) {
        animation-delay: 0.1s;
      }
      .project:nth-child(2) {
        animation-delay: 0.2s;
      }
      .project:nth-child(3) {
        animation-delay: 0.3s;
      }
      .project:nth-child(4) {
        animation-delay: 0.4s;
      }
      .project:nth-child(5) {
        animation-delay: 0.5s;
      }
      .project:nth-child(6) {
        animation-delay: 0.6s;
      }
      .project:nth-child(7) {
        animation-delay: 0.7s;
      }
      .project:nth-child(8) {
        animation-delay: 0.8s;
      }
      .project:nth-child(9) {
        animation-delay: 0.99s;
      }

      @keyframes fade {
        0% {
          transform: translateY(50px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      /* footer */
      .blog-item img {
        animation: delay 5s ease-in forwards alternate;
      }
      @keyframes delay {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .social-icons {
        transition: transform 0.5s ease;
      }
      .social-icons {
        animation: bounce 0.5s ease-in forwards alternate;
      }
      @keyframes bounce {
        0% {
          transform: translateY(50px);
          opacity: 0.4;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      /* responsive styles */
      @media (max-width: 1024px) {
        .top_header {
          justify-content: space-between;
          padding: 10px 30px;
        }
        .nav {
          justify-content: space-between;
          padding: 0.3rem 1.5rem;
        }
        .project_grid {
          padding: 1rem;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 300px);
        }
        .footer {
          padding: 80px 60px;
        }

        .footer-container {
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 40px;
        }

        .footer-box {
          width: 45%;
        }

        .social-icons {
          justify-content: flex-start;
        }
      }
      @media (max-width: 768px) {
         .top_header {
          justify-content: center;
          gap: 15px;
          padding: 0.3rem 2rem;
        }
        .top_header h1 {
          font-size: 1.4rem;
          margin-left: 1.3rem;
        }
        .top_header_email {
          /* background-color: #faebd7; */
          font-size: 0.7rem;
        }
        .top_header_email img{
          width: 20px;
          height: 20px;
          margin-right: 18px;
        }
        .top_header_phone {
          /* background-color: antiquewhite; */
          flex-direction: row;
          /* padding:0.1rem; */
        }
        .top_header_phone h4 {
          font-size: 0.7rem;
        }
        .top_header_phone p {
          /* background-color: #faebd7; */
          font-size: 0.7rem;
          width: 150px;
        }
        .top_header button {
          padding: 0.3rem 2rem;
          font-size: 0.7rem;
        }
        .nav {
          justify-content: space-between;
          gap: 20px;
          padding: 0.3rem 2rem;
        }
        .nav ul li a {
          font-size: 0.9rem;
        }
        .project_grid {
          padding: 1rem;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 270px);
        }
        .footer {
          padding: 80px 60px;
        }

        .footer-container {
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 40px;
        }

        .footer-box {
          width: 45%;
        }
        .social-icons {
          justify-content: flex-start;
        }
      }
      @media (max-width: 560px) {
        .top_header {
          justify-content: space-between;
          gap: 15px;
          padding: 0.3rem 1rem;
        }
        .top_header_email {
          display: none;
        }
        .top_header_phone {
          display: none;
        }
        .top_header button {
          padding: 0.7rem 0.1rem;
          width: 150px;
          font-size: 0.7rem;
        }
        .nav {
          justify-content: space-between;
          gap: 20px;
          padding: 0.3rem 0.8rem;
        }
        .nav ul {
          display: none;
          position: absolute;
          left: 0;
          top: 100px;
          flex-direction: column;
          background-color: #0d1128;
          text-align: left;
          /* width: 100px; */
          z-index: 9;
          /* height: 400px; */
        }
        .nav ul li {
          padding: 1rem;
        }
        .menue_toggle {
          display: block;
        }
        .project_grid {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(9, 300px);
        }

        .footer {
          padding: 50px 20px;
          text-align: left;
        }

        .footer-container {
          display: flex;
          flex-direction: column;
          gap: 40px;
        }

        .footer-box {
          width: 100%;
        }

        .footer-box h2 {
          font-size: 18px;
          margin-bottom: 15px;
        }

        .footer-box p,
        .footer-links li,
        .blog-text p {
          font-size: 14px;
          line-height: 1.6;
        }

        /* Recent blog vertical layout */
        .blog-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }

        .blog-item img {
          width: 80px;
          height: 70px;
          border-radius: 5px;
        }

        .blog-text {
          flex: 1;
        }

        /* Links spacing */
        .footer-links {
          margin-top: 10px;
        }
        .footer-links li {
          margin-bottom: 8px;
        }

        /* Subscribe section */
        .subscribe-box {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;
          margin-top: 10px;
        }

        .subscribe-box input {
          width: 100%;
          background-color: #2c2c2c;
          color: #ccc;
          border: none;
          padding: 12px;
        }

        .subscribe-box button {
          width: 100%;
          background-color: #00aaff;
          color: #fff;
          border: none;
          padding: 12px;
          border-radius: 5px;
          cursor: pointer;
        }

        /* Connect section */
        .connect-title {
          margin-top: 20px;
        }

        .social-icons {
          display: flex;
          justify-content: flex-start;
          margin-top: 10px;
          gap: 15px;
        }

        .social-icons a {
          font-size: 22px;
          color: #fff;
        }

        /* Bottom text */
        .footer-bottom {
          font-size: 13px;
          text-align: center;
          margin-top: 30px;
          line-height: 1.6;
        }
      }
